<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="assets/img/logo/logo.jpeg"
    />
    <link rel="stylesheet" href="css/output.css" />
    <title>Admin SignUp Tokens</title>
  </head>
  <body
    class="relative bg-greyLight1 text-base transition-all overflow-x-hidden"
  >
    <!-- SIDEBAR SECTION START -->
    <%- include("./partials/sidebar");%>
    <!-- SIDEBAR SECTION END -->

    <div class="mmd:ml-64">
      <!-- HEADER SECTION START -->
      <header
        class="bg-greyLight1 z-20 sticky top-0 flex items-center justify-between shadow pb-5 pt-4 px-4 sm:px-8 md:px-16"
      >
        <span>Admin Tokens</span>
        <div class="flex items-center relative">
          <%- include("./partials/auth-user");%>
        </div>
      </header>
      <!-- HEADER SECTION END -->

      <!-- MAIN CONTENT START -->
      <main class="flex flex-col justify-center items-center my-28">
        <div class="mx-8 sm:mx-16 p-6 rounded w-full md:w-96 shadow">
          <% if(message){ %>
          <p class="error"><%= message%></p>
          <% } %>

          <h2
            class="mb-4 text-greyDark3 border-2 border-greyDark1 bg-greyLight3 rounded p-4"
          >
            Provide email to be associated with the generated token. The email
            will be used along side the generated token when signing up a staff
            member as the Admin
          </h2>
          <form
            action="<%= baseUrl %>/generate-admin-code"
            method="POST"
            class="form w-full"
          >
            <div class="flex flex-col justify-center mb-4">
              <label for="html" class="uppercase mb-2">Email address</label>
              <input
                type="email"
                name="associatedEmail"
                placeholder="Enter email"
                required
                class="input-field"
              />
            </div>
            <button type="submit" class="submit-btn">Generate Token</button>
          </form>
        </div>
        <!-- table of loan applicants -->
        <div class="px-4 lg:px-16 w-full scrollbar-x overflow-x-auto mt-16">
          <table class="table-element shadow-md">
            <thead>
              <tr class="">
                <th>#</th>
                <th>Token</th>
                <th>AssociatedEmail</th>
                <th>Status</th>
                <th>Date</th>
              </tr>
            </thead>
            <tbody>
              <% adminCodes.map((adminCode, index)=>{ %>
              <tr class="bg-greyLight2">
                <td><%= index+1 %></td>
                <td><%= adminCode.code %></td>
                <td><%= adminCode.associated_email %></td>
                <td><%= adminCode.code_status %></td>
                <!-- <td><%= adminCode.generated_at %></td> -->
                <td>Date</td>

                <!-- TODO: ACTION TO DELETE TOKEN -->

                <!-- <td>
                  <form action="/single-loan-application" method="get">
                    <button
                      name="loanId"
                      value="<%= adminCode.generated_at %>"
                      type="submit"
                      class="bg-green-700 hover:bg-green-600 rounded text-greyLight2 px-2 pb-1"
                    >
                      More
                    </button>
                  </form>
                </td> -->
              </tr>
              <%}) %>
            </tbody>
          </table>
        </div>
      </main>
      <!-- MAIN CONTENT END -->

      <!-- FOOTER SECTION START -->
      <%- include("./partials/footer")%>

      <!-- FOOTER SECTION END -->
    </div>

    <script src="./partials/sidebar.js"></script>
    <script src="./partials/auth-user.js"></script>
  </body>
</html>
