<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="assets/img/logo/logo.jpeg"
    />
    <link rel="stylesheet" href="css/output.css" />
    <title><%= loanApplication?.first_name %>'s loan approval</title>
  </head>
  <body
    class="relative bg-greyLight1 text-base transition-all overflow-x-hidden"
  >
    <!-- SIDEBAR SECTION START -->
    <%- include("./partials/sidebar");%>
    <!-- SIDEBAR SECTION END -->

    <div class="mmd:ml-64">
      <!-- HEADER SECTION START -->
      <header
        class="bg-greyLight1 z-20 sticky top-0 flex items-center justify-between shadow pb-5 pt-4 px-4 sm:px-8 md:px-16"
      >
        <span> Loan Approval</span>
        <div class="flex items-center relative">
          <%- include("./partials/auth-user");%>
        </div>
      </header>
      <!-- HEADER SECTION END -->

      <!-- MAIN CONTENT START -->
      <main class="flex justify-center items-center my-20">
        <div
          class="mx-8 sm:mx-16 rounded w-full flex flex-col justify-center items-center"
        >
          <!-- success message -->
          <% if(message && isSuccess){ %>
          <p class="success"><%= message %></p>
          <% } %>

          <!-- fail message -->
          <% if(message && !isSuccess){ %>
          <p class="error"><%= message %></p>
          <% } %>

          <!-- table of single loan application -->
          <% if(loanApplication?.is_approved){ %>
          <p class="font-semibold pl-4 text-lg mb-4 uppercase text-greyDark2">
            <%= loanApplication?.first_name %>'s loan application
          </p>

          <div class="px-4 lg:px-6 w-full scrollbar-x overflow-x-auto">
            <table class="table-element shadow-md">
              <thead>
                <tr>
                  <th>Label</th>
                  <th>Value</th>
                </tr>
              </thead>
              <tbody>
                <tr class="bg-greyLight2">
                  <td>First name</td>
                  <td><%= loanApplication.first_name %></td>
                </tr>
                <tr class="bg-greyLight2">
                  <td>Last name</td>
                  <td><%= loanApplication.last_name %></td>
                </tr>
                <tr class="bg-greyLight2">
                  <td>Gender</td>
                  <td><%= loanApplication.gender %></td>
                </tr>
                <tr class="bg-greyLight2">
                  <td>Job</td>
                  <td><%= loanApplication.job %></td>
                </tr>
                <tr class="bg-greyLight2">
                  <td>City/Town</td>
                  <td><%= loanApplication.city %></td>
                </tr>
                <tr class="bg-greyLight2">
                  <td>Loan amount</td>
                  <td><%= loanApplication.loan_amount %></td>
                </tr>
                <tr class="bg-greyLight2">
                  <td>Phone number</td>
                  <td><%= loanApplication.phone_number %></td>
                </tr>
                <!-- <tr class="bg-greyLight2">
                <td>Date</td>
              </tr> -->
              </tbody>
            </table>
          </div>
          <% } %>
        </div>
      </main>
      <!-- MAIN CONTENT END -->

      <!-- FOOTER SECTION START -->
      <%- include("./partials/footer")%>

      <!-- FOOTER SECTION END -->
    </div>

    <script src="./partials/sidebar.js"></script>
    <script src="./partials/auth-user.js"></script>
    <script src="./scripts/date.js"></script>
  </body>
</html>
