<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="assets/img/logo/logo.jpeg"
    />
    <link rel="stylesheet" href="css/output.css" />
    <title>My Loan Application</title>
  </head>
  <body
    class="relative bg-greyLight1 text-base transition-all overflow-x-hidden"
  >
    <!-- SIDEBAR SECTION START -->
    <%- include("./partials/sidebar");%>
    <!-- SIDEBAR SECTION END -->

    <div class="mmd:ml-64">
      <!-- HEADER SECTION START -->
      <header
        class="bg-greyLight1 z-20 sticky top-0 flex items-center justify-between shadow pb-5 pt-4 px-4 sm:px-8 md:px-16"
      >
        <span>MyLoanApplication</span>
        <div class="flex items-center relative">
          <%- include("./partials/auth-user");%>
        </div>
      </header>
      <!-- HEADER SECTION END -->

      <!-- MAIN CONTENT START -->
      <main class="flex justify-center items-center my-28">
        <div
          class="mx-8 sm:mx-16 rounded w-full flex flex-col justify-center items-center overflow-x-auto scrollbar-x"
        >
          <% if(message){ %>
          <p class="error"><%= message%></p>
          <% } %>

          <p class="font-semibold text-lg mb-4 uppercase text-greyDark2">
            My loan application(s)
          </p>
          <!-- table of loan applicants -->
          <table class="table-element shadow-md">
            <thead>
              <tr class="">
                <th>#</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Gender</th>
                <th>City/Town</th>
                <th>Amount</th>
                <th>Phone</th>
                <th>Date</th>
                <th>Settlement</th>
              </tr>
            </thead>
            <tbody>
              <% myLoanData.map((loanData,index)=>{ %>
              <tr class="bg-greyLight2">
                <th><%= index+1 %></th>
                <td><%= loanData.first_name %></td>
                <td><%= loanData.last_name %></td>
                <td><%= loanData.gender %></td>
                <td><%= loanData.city %></td>
                <td><%= loanData.loan_amount %></td>
                <td><%= loanData.phone_number %></td>
                <td>Date</td>
                <!-- Settlement to be changed to approval -->
                <td><%= loanData.is_settled? "Settled" : "Pending" %></td>
              </tr>
              <%}) %>
            </tbody>
          </table>
        </div>
      </main>
      <!-- MAIN CONTENT END -->

      <!-- FOOTER SECTION START -->
      <%- include("./partials/footer")%>

      <!-- FOOTER SECTION END -->
    </div>

    <script src="./partials/sidebar.js"></script>
    <script src="./partials/auth-user.js"></script>
  </body>
</html>
