<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="assets/img/logo/logo.jpeg"
    />
    <link rel="stylesheet" href="css/output.css" />
    <title>Loan applicants</title>
  </head>
  <body
    class="relative bg-greyLight1 text-base transition-all overflow-x-hidden"
  >
    <!-- SIDEBAR SECTION START -->
    <%- include("./partials/sidebar");%>
    <!-- SIDEBAR SECTION END -->

    <div class="mmd:ml-64">
      <!-- HEADER SECTION START -->
      <header
        class="bg-greyLight1 z-20 sticky top-0 flex items-center justify-between shadow pb-5 pt-4 px-4 sm:px-8 md:px-16"
      >
        <span>SaccoApplicants</span>
        <div class="flex items-center relative">
          <%- include("./partials/auth-user");%>
        </div>
      </header>
      <!-- HEADER SECTION END -->

      <!-- MAIN CONTENT START -->
      <main class="flex justify-center items-center my-12">
        <div
          class="mx-8 sm:mx-16 rounded w-full flex flex-col justify-center items-center"
        >
          <% if(message){ %>
          <p class="error"><%= message%></p>
          <% } %>
          <p class="font-semibold text-lg mb-4 uppercase text-greyDark2">
            Sacco applicants
          </p>
          <!-- table of loan applicants -->
          <table class="table-element shadow-md">
            <thead>
              <tr class="">
                <th>#</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Date</th>
                <th>Approval</th>
                <th>Details</th>
              </tr>
            </thead>
            <tbody>
              <% saccoApplicants.map((applicant, index)=>{ %> <%
              if(applicant.is_read){ %>
              <!-- Application read -->
              <tr class="bg-greyLight2">
                <td class=""><%= index+1 %></td>
                <td><%= applicant.first_name %></td>
                <td class=""><%= applicant.last_name %></td>
                <td>Date</td>
                <td>pending</td>
                <td>
                  <form
                    action="/single-sacco-membership-application"
                    method="  GET"
                  >
                    <button
                      name="saccoId"
                      value="<%= applicant.sacco_id%>"
                      type="submit"
                      class="bg-green-700 hover:bg-green-600 rounded text-greyLight2 px-2 pb-1"
                    >
                      More
                    </button>
                  </form>
                </td>
              </tr>
              <%}else{ %>

              <!-- Application not read -->
              <tr class="bg-greyLight4 font-bold">
                <td class=""><%= index+1 %></td>
                <td><%= applicant.first_name %></td>
                <td class=""><%= applicant.last_name %></td>
                <td>Date</td>
                <td>pending</td>
                <td>
                  <form
                    action="/single-sacco-membership-application"
                    method="GET"
                  >
                    <button
                      name="loanId"
                      value="<%= applicant.sacco_id%>"
                      type="submit"
                      class="bg-green-700 hover:bg-green-600 rounded text-greyLight2 px-2 pb-1"
                    >
                      More
                    </button>
                  </form>
                </td>
              </tr>
              <% }%> <%}) %>
            </tbody>
          </table>
        </div>
      </main>
      <!-- MAIN CONTENT END -->

      <!-- FOOTER SECTION START -->
      <%- include("./partials/footer")%>

      <!-- FOOTER SECTION END -->
    </div>

    <script src="./partials/sidebar.js"></script>
    <script src="./partials/auth-user.js"></script>
  </body>
</html>
