<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="assets/img/logo/logo.jpeg"
    />
    <link rel="stylesheet" href="css/output.css" />
    <title><%= saccoApplication?.first_name %>'s sacco application</title>
  </head>
  <body
    class="relative bg-greyLight1 text-base transition-all overflow-x-hidden"
  >
    <!-- SIDEBAR SECTION START -->
    <%- include("./partials/sidebar");%>
    <!-- SIDEBAR SECTION END -->

    <div class="mmd:ml-64">
      <!-- HEADER SECTION START -->
      <header
        class="bg-greyLight1 z-20 sticky top-0 flex items-center justify-between shadow pb-5 pt-4 px-4 sm:px-8 md:px-16"
      >
        <span>Sacco Application</span>
        <div class="flex items-center relative">
          <%- include("./partials/auth-user");%>
        </div>
      </header>
      <!-- HEADER SECTION END -->

      <!-- MAIN CONTENT START -->
      <main class="flex justify-center items-center my-20">
        <div
          class="mx-8 sm:mx-16 rounded w-full flex flex-col justify-center items-center"
        >
          <% if(message){ %>
          <p class="error"><%= message%></p>
          <% } %>

          <p class="font-semibold text-lg pl-4 mb-4 uppercase text-greyDark2">
            <%= saccoApplication?.first_name %>'s sacco application
          </p>

          <!-- table of single sacco application -->
          <% if(saccoApplication.is_approved){%>
          <p
            class="text-center bg-green-300 text-greyDark3 px-8 pt-2 pb-3 mb-4 rounded"
          >
            Approved
          </p>
          <%}else {%>
          <p
            class="text-center bg-red-300 text-greyDark3 px-8 pt-2 pb-3 mb-4 rounded"
          >
            Approval pending
          </p>
          <%}%>

          <div class="px-4 lg:px-6 w-full scrollbar-x overflow-x-auto">
            <table class="table-element shadow-md">
              <thead>
                <tr>
                  <th>Label</th>
                  <th>Value</th>
                </tr>
              </thead>
              <tbody>
                <tr class="bg-greyLight2">
                  <td>First name</td>
                  <td><%= saccoApplication.first_name %></td>
                </tr>
                <tr class="bg-greyLight2">
                  <td>Last name</td>
                  <td><%= saccoApplication.last_name %></td>
                </tr>
                <tr class="bg-greyLight2">
                  <td>Gender</td>
                  <td><%= saccoApplication.gender %></td>
                </tr>
                <tr class="bg-greyLight2">
                  <td>Job</td>
                  <td><%= saccoApplication.job %></td>
                </tr>
                <tr class="bg-greyLight2">
                  <td>City/Town</td>
                  <td><%= saccoApplication.city %></td>
                </tr>
                <tr class="bg-greyLight2">
                  <td>Phone number</td>
                  <td><%= saccoApplication.phone_number %></td>
                </tr>
                <!-- <tr class="bg-greyLight2">
                <td>Date</td>
              </tr> -->
                <tr class="bg-greyLight2">
                  <td>Action</td>
                  <td>
                    <!-- <form action="/single-loan-application" method="put"> -->
                    <form action="<%= baseUrl%>/approve-sacco" method="get">
                      <button
                        name="saccoId"
                        value="<%= saccoApplication.sacco_id%>"
                        type="submit"
                        class="uppercase font-semibold bg-green-700 hover:bg-green-600 rounded text-greyLight2 px-4 pt-2 pb-3 shadow-md"
                      >
                        Approve membership
                      </button>
                    </form>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </main>
      <!-- MAIN CONTENT END -->

      <!-- FOOTER SECTION START -->
      <%- include("./partials/footer")%>

      <!-- FOOTER SECTION END -->
    </div>

    <script src="./partials/sidebar.js"></script>
    <script src="./partials/auth-user.js"></script>
    <script src="./scripts/date.js"></script>
  </body>
</html>
