<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="assets/img/logo/logo.jpeg"
    />
    <link rel="stylesheet" href="css/output.css" />
    <title>Upload</title>
  </head>
  <body
    class="relative bg-greyLight1 text-base transition-all overflow-x-hidden"
  >
    <!-- SIDEBAR SECTION START -->
    <%- include("./partials/sidebar");%>
    <!-- SIDEBAR SECTION END -->

    <div class="mmd:ml-64">
      <!-- HEADER SECTION START -->
      <header
        class="bg-greyLight1 z-20 sticky top-0 flex items-center justify-between shadow pb-5 pt-4 px-4 sm:px-8 md:px-16"
      >
        <span>Upload Transactions</span>
        <div class="flex items-center relative">
          <%- include("./partials/auth-user");%>
        </div>
      </header>
      <!-- HEADER SECTION END -->

      <!-- MAIN CONTENT START -->
      <main class="flex justify-center items-center my-28">
        <!-- my application files -->
        <div
          class="mx-8 sm:mx-16 rounded w-full flex flex-col justify-center items-center"
        >
          <p class="font-semibold pl-4 text-lg mb-4 uppercase text-greyDark2">
            Transaction Document Requests
          </p>
          <!-- table of  uploads -->
          <div class="px-4 lg:px-6 w-full scrollbar-x overflow-x-auto">
            <table class="table-element shadow-md">
              <thead>
                <tr>
                  <th>#</th>
                  <th>RequestedBy</th>
                  <th>Category</th>
                  <th>Requested</th>
                  <th>File</th>
                  <th>Uploaded</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <% transactions.map((transaction, index)=>{ %> <%
                if(transaction.is_responded){ %>
                <!-- Transaction not responded too -->

                <tr class="bg-greyLight2">
                  <td><%= index+1 %></td>
                  <td><%= transaction?.user_name %></td>
                  <td><%= transaction.category %></td>
                  <td><%= transaction.requestElapseTime %></td>
                  <td>
                    <% if(transaction?.url){%>
                    <a
                      href="<%= transaction?.url %> "
                      class="text-blue-700 hover:underline"
                    >
                      <%= transaction?.file_name %>
                    </a>
                    <%}else{%>
                    <span>empty</span>
                    <%}%>
                  </td>
                  <td>
                    <% if(transaction?.responseElapseTime) {%>
                    <span><%= transaction?.responseElapseTime %></span>
                    <%}else{%>
                    <span>empty</span>
                    <%}%>
                  </td>
                  <td>No action</td>
                </tr>
                <%}else{ %>

                <!-- Transaction not responded too -->
                <tr class="bg-greyLight4 font-bold">
                  <td><%= index+1 %></td>
                  <td><%= transaction?.user_name %></td>
                  <td>
                    <% if(transaction.category === "sacco") {%>
                    <span>account</span>
                    <%}else{%>
                    <span> <%= transaction.category %> </span>
                    <%} %>
                  </td>
                  <td><%= transaction.requestElapseTime %></td>
                  <td>
                    <% if(transaction?.url){%>
                    <a
                      href="<%= transaction?.url %> "
                      class="text-blue-700 hover:underline"
                    >
                      <%= transaction?.file_name %>
                    </a>
                    <%}else{%>
                    <span>---</span>
                    <%}%>
                  </td>
                  <td>
                    <% if(transaction?.responseElapseTime) {%>
                    <span><%= transaction?.responseElapseTime %></span>
                    <%}else{%>
                    <span>---</span>
                    <%}%>
                  </td>
                  <td>
                    <form action="/transaction-upload" method="GET">
                      <button
                        name="transactionId"
                        value="<%= transaction.transaction_id%>"
                        type="submit"
                        class="bg-green-700 hover:bg-green-600 rounded text-greyLight2 px-2 pb-1"
                      >
                        Upload
                      </button>
                    </form>
                  </td>
                </tr>
                <% }%> <%}) %>
              </tbody>
            </table>
          </div>
        </div>
      </main>
      <!-- MAIN CONTENT END -->

      <!-- FOOTER SECTION START -->
      <%- include("./partials/footer")%>

      <!-- FOOTER SECTION END -->
    </div>

    <script src="./partials/sidebar.js"></script>
    <script src="./partials/auth-user.js"></script>
  </body>
</html>
